@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.7;
  letter-spacing: 0.06rem;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7ede2;
}

/*文章*/
.opacity {
  opacity: 0;
  transition: 2s linear;
}

/* スクロールでクラス名がついた状態 */
.opacity.fade_active {
  opacity: 1;
}

/*** header ***/
header {
  width: 100%;
  height: 80px;
  background-color: #f7ede2;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.wrap {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
}

.logo picture img {
  height: 80px;
}

@media (width>767px) {
  .wrap {
    width: 80%;
  }

  .logo:hover {
    opacity: 0.5;
  }
}

/* hamburgerボタン */
.b-btn {
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  position: relative;
  z-index: 1000;
}

.b-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #906065;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.b-btn .bar1 {
  top: 0;
}

.b-btn .bar3 {
  top: 100%;
}

.b-btn.is_active .bar1 {
  transform: rotate(45deg);
  left: 0;
  top: 50%;
}

.b-btn.is_active .bar2 {
  opacity: 0;
}

.b-btn.is_active .bar3 {
  transform: rotate(-45deg);
  left: 0;
  top: 50%;
}

@media (width>767px) {
  .b-btn {
    display: none;
  }
}

/* ナビ */
.global-navi {
  background-color: #eea2a9;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100vw;
  transition: 0.5s;
}

.global-navi ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  gap: 40px;
}

.global-navi ul li a {
  font-size: 20px;
  color: #fff;
}

.global-navi.is_active {
  left: 0;
}

@media (width>767px) {
  .global-navi {
    display: block;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: static;
    top: 0;
    left: 0;
    transition: 0;
    z-index: 0;
  }

  .global-navi ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
    gap: 50px;
  }

  .global-navi ul li a {
    position: relative;
    font-size: 15px;
    color: #906065;
  }
  .global-navi ul li a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #906065;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }

  .global-navi ul li a:hover::after {
    transform: scale(1, 1);
  }
}

/*** main ***/
main {
  margin-top: 80px;
}

.wraps {
  width: 92%;
  margin: 0 auto;
}

main h1 {
  color: #7c5555;
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid;
  font-size: 30px;
}

/* introduction */
.introduction {
  font-size: 16px;
  padding: 100px 0;
}

.introduction p {
  width: fit-content;
  color: #7c5555;
}

.introduction p:not(:first-child) {
  margin-top: 1em;
}

@media (width>767px) {
  .introduction p {
    margin-left: auto;
    margin-right: auto;
  }

  
}

/* about */
.about {
  color: #6d5e4d;
  background-color: #c9afa2;
  padding: 100px 0;
}

.about img {
  display: block;
  margin: 50px auto 0;
  width: 90%;
}

#link-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0;
  margin-bottom: 0.3em;
}

.about h2 {
  display: block;
  margin-top: 50px;
  font-size: 20px;
}

.about p {
  display: block;
  margin-top: 1em;
}

.about p a {
  font-weight: bold;
  font-size: 20px;
  color: #677fb7;
  border-bottom: 1px solid;
}

.about p a:hover {
  color: #f7ede2;
}

.about p span {
  background-color: #f7ede2;
}

@media (width>767px) {
  .about img {
    width: 25%;
  }

  .about h2,
  .about p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

/* What can I do */
.do {
  color: #7c5555;
  background-color: #fec4be;
  padding: 100px 0;
}

.cats li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.arrows {
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
}

.arrows::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #7c5555;
  order: 1;
}

.arrows::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #7c5555;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  order: 2;
}

.cat-img {
  width: 30px;
  position: absolute;
  top: -130%;
  left: 7%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

.cats li {
  margin-top: 30px;
}

.cats li:first-child {
  margin-top: 80px;
}

.cats li:last-child {
  margin-bottom: 80px;
}

.text-box .fadein {
  margin-top: 30px;
}

.active li:first-child .cat-img {
  left: 80%;
}
.active li:nth-child(2) .cat-img {
  left: 20%;
}
.active li:nth-child(3) .cat-img {
  left: 20%;
}
.active li:nth-child(4) .cat-img {
  left: 20%;
}
.active li:nth-child(5) .cat-img {
  left: 20%;
}
.active li:nth-child(6) .cat-img {
  left: 20%;
}
.active li:last-child .cat-img {
  left: 90%;
}

.text-box p {
  margin-top: 5px;
}

@media (width>767px) {
  .do-wrap {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 80px;
  }

  .wrap-items {
    flex: 1;
    text-align: left;
  }

  .cats {
    width: 30%;
    margin: 0 auto;
  }
}

.text-box h3 {
  margin-top: 3em;
}

/* Works */
.works {
  padding: 100px 0;
}

.example1 {
  border: 1px solid #717171;
  border-radius: 10px;
  background-color: #c9afa2;
  margin-top: 2em;
}

.example1 img {
  border-radius: 0 0 10px 10px;
}

.example1:hover {
  opacity: 0.5;
}

.example1 h2 {
  text-align: center;
  padding: 4px;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}

.example2 {
  border: 1px solid #717171;
  border-radius: 10px;
  margin-top: 2em;
}

.example2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.btn-1 {
  display: inline-block;
  width: 100%;
  background-color: #7c5555;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 2em;
  box-shadow: 0px 0px 15px -5px #7c5555;
  transition: 1s;
}

.btn-1:hover {
  background-color: #fff;
  color: #7c5555;
}

@media (width>767px) {
  .examples {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
  }

  .btn-1 {
    margin-top: 50px;
    width: 40%;
  }
}

/* Contact */
.contact {
  height: 500px;
  background-color: #c9afa2;
  padding: 100px 0;
}

.contact p {
  color: #7c5555;
}

.text1 {
  margin-top: 50px;
}

.btn-2 {
  display: inline-block;
  width: 100%;
  background-color: #fffaf4;
  color: #806b6b;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 2em;
  box-shadow: 0px 0px 15px -5px #7c5555;
  transition: 1s;
}

.btn-2:hover {
  background-color: #806b6b;
  color: #fffaf4;
}

@media (width>767px) {
  .wraps {
    text-align: center;
  }

  .btn-2 {
    width: 40%;
    margin-top: 50px;
  }
}

/*** footer ***/
footer {
  text-align: center;
  background-color: #fec4be;
}

footer p {
  padding: 50px;
  color: #7c5555;
}

/*** main(karaoke) ***/
.karaoke {
  margin-top: 100px;
  margin-bottom: 100px;
}

.karaoke-wrap {
  width: 80%;
  margin: 0 auto;
}

.karaoke img {
  display: block;
  margin-top: 30px;
}

.karaoke p {
  display: inline-block;
  margin-top: 2em;
}

.karaoke dt {
  margin-top: 2em;
  color: rgb(255, 98, 124);
  font-size: 18px;
}

.karaoke dd span {
  border-bottom: 1px solid;
}

@media (width>767px) {
  .karaoke-wrap {
    width: 50%;
    margin: 0 auto;
  }

  .karaoke img {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

/*** main(works-page) ***/
.works-page {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (width>767px) {
  .works-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  .example {
    margin-top: 0;
  }
}

/*** main(works-detail) ***/
.works-detail {
  margin-top: 100px;
  margin-bottom: 100px;
}

.works-detail h1 {
  border-bottom: none;
  font-size: 20px;
}

.works-detail a img {
  display: block;
  margin: 30px auto 0;
  border-radius: 10px;
  border: 1px solid #7c5555;
}

.works-detail a:hover {
  opacity: 0.5;
}

.main-wrap {
  width: 80%;
  margin: 0 auto;
}

.work-text {
  margin: 0 auto;
  color: #7c5555;
}

.work-text li {
  margin-top: 2em;
}

@media (width>767px) {
  .main-wrap {
    width: 80%;
  }

  .works-detail h1 {
    font-size: 24px;
  }
}

/**** アニメーション ****/
/* 初期状態。要素を隠す。 */
.fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition: 1.5s linear;
}

/* スクロールでクラス名がついた状態 */
.fadein.fade_active {
  transform: translate(0);
  opacity: 1;
}

/** 下線アニメーション **/
.Text-Span {
  position: relative;
  z-index: 1;
  display: block;
}
.Text-Span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #b7a196;
  z-index: -1;
  transition: all 2s;
}

.Text-Span.isActive:after {
  width: 100%;
}

/*ファーストビュー*/
.slideinBottom {
  animation-name: zoomInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes zoomInAnime {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slideinBottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
